
body {
    font-size:12px;
    font-family:Tahoma, Verdana, Arial, Helvetica, Arial, sans-serif;
}

.tweet {
    float:left;
    padding-bottom:15px;
    width: 100%;

}

ul {
    list-style:none;
}

.tweet-comment {
    float:left;
    text-align:center;
    font-size:84%;
    width:100px;

}

.tweet-comment img {
    transform: rotate(-5deg);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

blockquote {
    background-color: rgba(166, 218, 220, 0.5);
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0) 30px);
    border-radius: 20px 20px 20px 20px;
    border-top: 1px solid #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin: 0 0 0 112px;
    min-height: 42px;
    padding: 10px 15px 5px;
    position: relative;
    word-wrap: break-word;
}

blockquote:after {
    border-color: transparent rgba(166, 218, 220, 0.5) transparent transparent;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    content: " ";
    display: block;
    height: 0;
    left: -20px;
    position: absolute;
    top: 20px;
    width: 0;
}